/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: black;
    padding: 15px 30px;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .navbar .nav-links {
    list-style-type: none;
    display: flex;
    text-decoration: none;
  }
  
  .navbar .nav-links li {
    margin-left: 20px;
  }
  
  .navbar .nav-links a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .navbar .nav-links a:hover {
    color: #84898e;
  }
  